<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="camp">
            <h2><span>Camp</span> {{camp.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{camp.name}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{camp.phone}}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <div *ngIf="camp.location">
                        <a [routerLink]="['/location-kerala-rescue', camp.location?.id, 'view']">{{camp.location?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/camp-kerala-rescue', camp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
