<div>
    <h2 id="page-heading">
        <span>Requirements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-requirement-kerala-rescue" [routerLink]="['/requirement-kerala-rescue/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Requirement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="requirements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Item</span></th>
            <th><span>Quantity</span></th>
            <th><span>Camp</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let requirement of requirements ;trackBy: trackId">
                <td><a [routerLink]="['/requirement-kerala-rescue', requirement.id, 'view' ]">{{requirement.id}}</a></td>
                <td>{{requirement.item}}</td>
                <td>{{requirement.quantity}}</td>
                <td>
                    <div *ngIf="requirement.camp">
                        <a [routerLink]="['../camp-kerala-rescue', requirement.camp?.id, 'view' ]" >{{requirement.camp?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/requirement-kerala-rescue', requirement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/requirement-kerala-rescue', requirement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'requirement-kerala-rescue/'+ requirement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
