<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-requirement-kerala-rescue-heading">Create or edit a Requirement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!requirement.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="requirement.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_item">Item</label>
                    <input type="text" class="form-control" name="item" id="field_item"
                        [(ngModel)]="requirement.item" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="requirement.quantity" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_camp">Camp</label>
                    <select class="form-control" id="field_camp" name="camp" [(ngModel)]="requirement.camp" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="campOption.id === requirement.camp?.id ? requirement.camp : campOption" *ngFor="let campOption of camps; trackBy: trackCampById">{{campOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
