<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="requirement">
            <h2><span>Requirement</span> {{requirement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Item</span></dt>
                <dd>
                    <span>{{requirement.item}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{requirement.quantity}}</span>
                </dd>
                <dt><span>Camp</span></dt>
                <dd>
                    <div *ngIf="requirement.camp">
                        <a [routerLink]="['/camp-kerala-rescue', requirement.camp?.id, 'view']">{{requirement.camp?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/requirement-kerala-rescue', requirement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
